#myInput{
  position: absolute;
  margin: auto;
  width: 30%;
  left: 250px;
}

#bytitlecommentbody{

position: absolute;
margin: auto;
left: 680px;

}

#bysubreddit{
  position: absolute;
  margin: auto;
  left: 1100px;


}

.container{

width: 85%;

}

#username{

width: 25%;

}
